@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Libre+Baskerville:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    height: 100vh;
    background-color: black;
    color: darkgrey;
}

#root{
    height: 100vh;
}

h1 {
    color: aqua;
}

li {
    list-style-type: none;
}

.titre {
    justify-content: space-between;
}

input {
    margin-top: 60px;
}